- content_for :head do
  %title= "#{@park[:label]} - Open Park"
  :css
    #galleria {
        background: #111;
        height: 300px;
    }
    #map_park {
      width: 300px;
      height: 300px;
    }
    @media (min-width: @screen-sm-min) {
      #galleria {
        width: 400px;
        height: 300px;
      }
    }
    @media (min-width: @screen-md-min) {
      #galleria {
        width: 600px;
      }
    }

.container-fluid
  .row
    .col-md-offset-1.col-md-10
      %h1= @park[:label]
      - if @park[:description]
        %p= @park[:description]
      %p= "住所: 〒#{@park[:postalcode]} #{@park[:address]}"
      %p= "座標: #{@park[:lat]},#{@park[:long]}"
      - if @equipment_solutions.count > 0      
        .row
          - @equipment_solutions.each do |equipment|
            .col-xs-12.col-md-4
              .panel.panel-default
                .panel-heading
                  %h3.panel-title= equipment[:label]
                %table.table.table-condensed
                  %tbody
                    %tr
                      %th 種類
                      %td= equipment[:subject_label]
                    - if equipment[:equipment_spec]
                      %tr
                        %th 仕様・規格
                        %td= equipment[:user]            
                    %tr
                      %th 管理者
                      %td= equipment[:organization_label]
                    %tr
                      %th 数量
                      %td= equipment[:count]
                    - if equipment[:user]
                      %tr
                        %th 利用者
                        %td= equipment[:user]
                    
        
  .row
    .col-xs-12.col-md-offset-1.col-md-4
      = map_to_leaflet(:container_id => "map_park", :center => { :latlng => [@park[:lat], @park[:long]], :zoom => 16 }, :markers => @markers )
    .col-xs-12.col-md-4
      #galleria
        :javascript
          Galleria.run('#galleria', {
            flickr: 'user_id_and_tags_all:63585651@N06+Park,#{@park[:label]},横浜市金沢区',
            autoplay: 5000,
            imageCrop: false,
            carousel: true,
            lightbox: true,
          });
      -# flickr: 'tags:Yokohama,Park,Kanazawa-ku,#{@park[:label]},横浜市金沢区',
