.row
  .col-md-12
    .list-group
      - @parks.each do |park|
        %a.list-group-item{ :href => "#{park[:park].to_s.gsub(/http:\/\/openpark.jp/, '')}" }
          %h3.list-group-item-heading= park[:park_label].to_s
          %p.list-group-item-text
            = park[:address].to_s
            %br
            - if park[:equipment_label]
              = park[:equipment_label]
              対象年齢:
              - if park[:upper_age_limit] or park[:lower_age_limit]
                - if park[:lower_age_limit]
                  = park[:lower_age_limit]
                  歳
                〜
                - if park[:upper_age_limit]
                  = park[:upper_age_limit]
                  歳
              - else
                なし
