!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :content => "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ :content => "initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width", :name => "viewport"}
    %meta{ :name => "mobile-web-app-capable", :content => "yes"}
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
    %meta{ :name => "description", :content => "Open Park Yokohama" }
    %meta{ :name => "author", :content => "Fumihiro Kato" }
    = stylesheet_link_tag    'application', media: 'all'
    %link{:href => "//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css", :rel => "stylesheet"}
    = javascript_include_tag 'application'
    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.min.js" }
    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js" }
    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js" }
    %script{ :src => "//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js" }
    %link{ :href => "#{asset_path('bootleaf/favicon-76.png')}", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{ :href => "#{asset_path('bootleaf/favicon-120.png')}", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{ :href => "#{asset_path('bootleaf/favicon-152.png')}", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{ :href => "#{asset_path('bootleaf/favicon-196.png')}", :rel => "icon", :sizes => "196x196"}
    %link{ :href => "#{asset_path('bootleaf/favicon.ico')}", :rel => "icon", :type => "image/x-icon"}
    = csrf_meta_tags
    %title Open Park Yokohama
    = yield :head
    :css
      body { padding-top: 70px; }
  %body
    .navbar.navbar-inverse.navbar-fixed-top{ :role => "navigation" }
      .container-fluid
        .navbar-header
          .navbar-icon-container
            %a#nav-btn.navbar-icon.pull-right.visible-xs{:href => "#"}
              = fa_icon "bars lg", class: "white"
            %a#sidebar-toggle-btn.navbar-icon.pull-right.visible-xs{:href => "#"}
              = fa_icon "search lg", class: "white"
          %a.navbar-brand{ :href => "/" }  Open Park Yokohama
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a#about-btn{ "data-target" => ".navbar-collapse.in", "data-toggle" => "collapse", :href => "#" }
                = fa_icon "info-circle", class: "white", text: "About"
            -#%li.hidden-xs
            %li
              %a{ :href => "/" }
                = fa_icon "list", class: "white", text: "公園マップ"
              -#%a#list-btn{ :href => "#", "data-toggle" => "collapse", "data-target" => ".navbar-collapse.in" }
                = fa_icon "list", class: "white", text: "公園一覧"
            %li.dropdown
              %a#equipment-drop.dropdown-toggle{ :href => "#", "data-toggle" => "dropdown" }
                = fa_icon "soccer-ball-o", class: "white", text: "遊具"
                %b.caret
                %ul.dropdown-menu
                  %li
                    %a#equipment-type-btn{ :href => "#", "data-toggle" => "collapse", "data-target" => ".navbar-collapse.in" }
                      種類から探す
            %li
              %a#sparql-btn{ :href => "/sparql" }
                = fa_icon "question-circle", class: "white", text: "SPARQL"
          %form.navbar-form.navbar-right{ :role => "search", :action => "/search" }
            .form-group
              %input#text.form-control{ :name => "text", :type => "text", :placeholder => "野島" }
              %button.btn.btn-default{ :type => "submit" } 
                = fa_icon "search", text: "検索"
    = yield
    %footer.footer
      .container
        %p
          Fumihiro Kato
          %a{ :rel => "license", :href => "http://creativecommons.org/licenses/by-sa/4.0/" }
            %img{ :style => "border-width: 0", :src => "https://i.creativecommons.org/l/by-sa/4.0/80x15.png", :alt => "Creative Commons Attribution-ShareAlike 4.0 International License" }
          
    #aboutModal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4.modal-title Open Park Yokohamaについて
          .modal-body
            %ul#aboutTabs.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#about"}
                  %span.fa.fa-question-circle>
                  \&nbsp;About
            #aboutTabsContent.tab-content
              #about.tab-pane.fade.active.in
                %p
                  Open Park Yokohamaは市民が公園をもっと有効に活用できるように公園に関連するデータを整理して再公開するサイトです．
                  公園は市民の活動や憩いの場であるはずですが，一方で公園にある遊具の安全性や，禁止事項が多すぎる公園などが
                  社会問題として取り上げられたりもしています．
                  大きな都市公園や運動公園などについては用途による検索ができるサイトが既にありますが，
                  住宅地にある公園にどんな遊具があるのか・安全なのか，どんな遊びをして良いのか・いけないのか，
                  といった情報は中々共有されていません．
                  例えば，各公園の禁止事項は殆どの場合公園の看板に書かれているだけです．これを市民が写真を撮ったり，
                  テキストをおこしたりして共有できるようにすると良いのではないかというのが本サイトの主な動機です．
                %p
                  本サイトはスマートフォンのブラウザでも使えるようにしています．現在は主に
                  %a{ :href => "http://www.city.yokohama.lg.jp/kanazawa/kz-opendata/", :target => "_blank" } 金沢区オープンデータ
                  のデータをもとに加工して利用しており，公園名や遊具などで公園を探すことができます．
                  語彙は
                  %a{ :href => "http://imi.ipa.go.jp/ns/core/210/" } 共通語彙基盤 コア語彙 2.10
                  や
                  %a{ :href => "http://schema.org" } Schema.org
                  をベースに一部独自語彙を作成しています．
                  また，試験的に30カ所近くの公園に設置されている看板の写真を撮影しており，
                  %a{ :href => "https://www.flickr.com/photos/fumihirokato/sets/72157649508418932/", :target => "_blank" } Flickrに公開
                  して利用しています．
                %p
                  公園例:
                  %ul
                    %li
                      %a{ :href => "http://yokohama.openpark.jp/parks/海の公園" } 海の公園
                    %li
                      %a{ :href => "http://yokohama.openpark.jp/parks/寺前さざなみ公園" } 寺前さざなみ公園
                .panel.panel-primary
                  .panel-heading データソース
                  %ul.list-group
                    %li.list-group-item
                      %a{ :href => "http://www.city.yokohama.lg.jp/kanazawa/kz-opendata/data/5-kz-chishin.csv", :target => "_blank" } 金沢区内公園
                    %li.list-group-item
                      %a{ :href => "http://www.city.yokohama.lg.jp/kanazawa/kz-opendata/data/13-kz-kodomokatei.csv", :target => "_blank" } 金沢区内公園レビュー
                    %li.list-group-item
                      %a{ :href => "http://www.city.yokohama.lg.jp/kanazawa/kz-opendata/data/4-kz-doboku.csv", :target => "_blank" } 公園遊具リスト
                    %li.list-group-item
                      %a{ :href => "http://imi.ipa.go.jp/ns/core/210/", :target => "_blank" } 共通語彙基盤 コア語彙 2.10
                    %li.list-group-item
                      %a{ :href => "http://www.gsi.go.jp/kikakuchousei/kikakuchousei40182.html", :target => "_blank" } 国土交通省 国土地理院 地理院地図
                    %li.list-group-item
                      %a{ :href => "http://nlftp.mlit.go.jp/ksj/", :target => "_blank" } 国土交通省 国土数値情報 行政区域
                    %li.list-group-item
                      %a{ :href => "http://openstreetmap.org", :target => "_blank" } OpenStreetMap
                    %li.list-group-item
                      %a{ :href => "https://www.flickr.com/photos/fumihirokato/sets/72157649508418932/", :target => "_blank" } 横浜市金沢区 - Flickr
                %p
                  作者: Fumihiro Kato (
                  %a{ :href => "https//twitter.com/fumi1" } @fumi1
                  )
                  %br
                  当サイトで提供しているデータは
                  %a{ :rel => "license", :href => "http://creativecommons.org/licenses/by-sa/4.0/" }
                    %img{ :style => "border-width: 0", :src => "https://i.creativecommons.org/l/by-sa/4.0/88x31.png", :alt => "クリエイティブ・コモンズ・ライセンス" }
                    クリエイティブ・コモンズ 表示 - 継承 4.0 国際 ライセンス
                  のもとでライセンスされます．
                  
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    #equipmentTypeModal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4.modal-title 遊具種類検索
          .modal-body
            %form{ :role => "form", :action => "/search" }
              .form-inline
                %select#equipmentType.form-control{ :name => "equipmentType" }
                  %option 全て
                  %option 砂場
                  %option ブランコ
                  %option 健康遊具
                  %option 鉄棒
                  %option すべり台
                  %option スプリング遊具
                  %option 鋼製複合遊具
                  %option その他遊具
                  %option コンクリート遊具
                  %option ジャングルジム
                  %option プレイスカルプチュア
                  %option クライム遊具
                  %option バスケットゴール
                  %option スウィング遊具
                  %option シーソー
                  %option 幼児用遊具樹脂製球体
                  %option 鋼製遊具
                  %option ローラーすべり台
                  %option 砂場テーブル
                  %option うんてい
                  %option ターザンロープ
                  %option 水遊場
                  %option ふみいたストレッチ
                  %option ぶらさがり
                  %option 木製遊具
                  %option 背伸ばしベンチ
                  %option コンクリート製複合遊具
                  %option ザイルクライム
                  %option ブランコマット
                  %option 遊具説明板
                %button.btn.btn-primary{ :type => "submit" } 検索            
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-57538015-1', 'auto');
      ga('send', 'pageview');
